#navbar {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: $color-text-white;
    z-index: 10;

    @media (min-width: 768px) {
        padding: 1rem 3rem;
    }

    .logo {
        font-size: 2rem;

       h1 {

        a:link,
        a:visited {
            text-transform: capitalize;
            font-family: $font-primary;
            color: $color-text-dark;
            text-decoration: none;

            .hl {
                color: $color-accent;
            }
        }
       }
    }

    .navlist {
        list-style-type: none;
        display: none;

        @media (min-width: 768px) {
            display: flex;
        }

        li {

            &:not(:last-child) {
                margin-right: 2rem;
            }

            a:link,
            a:visited {
                text-decoration: none;
                font-family: $font-primary;
                font-size: 1.6rem;
                font-weight: 600;
                color: $color-text-dark;

                &:active,
                &:hover {
                    color: $color-accent;
                }
            }
        }
    }

    .contact {

        .contact-btn {
            border: 5px solid $color-accent;
            background-color: $color-accent;
            color: $color-text-white;
            padding: 1rem;
            width: 14.7rem;

            &:hover {
                background-color: $color-text-white;
                color: $color-accent;
            }
        }
    }
}